{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link style="text/css" rel="stylesheet" href="{% static 'products.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'ream2.png' %}" alt="80 gsm printing paper" class="img-responsive" width="400" height="400">
            </div>
            <div class="col-md-6">
                <h3 class="main-product-h3">80gsm A4 Multipurpose Quality Paper</h3>
                <p class="main-product-p">Ksh 3,500</p>
                <h4 class="main-product-h4">Product Specification</h4>
                <ul>
                    <li>Brand: JCL</li>
                    <li>Size: A4 (210mm x 297mm)</li>
                    <li>Weight: 80gsm</li>
                    <li>Color: White</li>
                    <li>Grade: All-purpose Premium Printing Paper</li>
                    <li>Sheets in Ream: 500</li>
                    <li>Thickness: 110um</li>
                    <li>Quality: Very High</li>
                </ul>
                <button class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
    </div>

    <div class="container other-products-section">
        <h2><b>Other Products You May Like</b></h2>
        <div class="row justify-content-center"> <!-- Center the products -->
            <div class="col-md-4 product-item">
                <img src="{% static 'ream2.png' %}" alt="75 gsm printing paper" class="img-responsive" width="200" height="200">
                <h5>75 gsm A4 Printing Paper</h5>
                <p>Ksh 2,500</p>
            </div>
            <div class="col-md-4 product-item">
                <img src="{% static 'ream2.png' %}" alt="60 gsm printing paper" class="img-responsive" width="200" height="200">
                <h5>60 gsm A4 Printing Paper</h5>
                <p>Ksh 2,000</p>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JavaScript at the end of the body for better performance -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
